extends layout

block content
  .main
    .left
    .right
    .button
      .loader-ring
        .loader-ring-light
        .loader-ring-track
    .intro Bienvenue au NovemLab, commence l'aventure !

