extends layout

block content
  .main
    .left
    .right
    .button
      img(src= "images/ecr.png").img
  .intro 
    p Bienvenue au NovemLab
    p commence l'aventure !
    input(type='text', placeholder='Prénom')

