extends layout

block content
  .main
    .left
    .right
    .button
      img(src= "images/ecr.png").img
  .intro 
    p Bienvenue au NovemLab !
    p 
      input(type='text', placeholder='Prénom')
    button.bouton.startButton Commencer les épreuves

