.main
  .left
  .right
  .button
    .loader-ring
      .loader-ring-light
      .loader-ring-track
  .intro
    p Bienvenue au NovemLab !
      p
        input(type='text', placeholder='Prénom')
      button.bouton.startButton Commencer les épreuves
