doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
      block intro
      block niveau1
      block niveau2
      block niveau3
      block niveau4

    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='bower_components/mojs/build/mo.js')
      script(src='/app_modules/jqueryRotate.js')
      script(src='/app_modules/accueil.js')
      script(src='/app_modules/niveau1.js')
      script(src='/app_modules/niveau2.js')
      script(src='/app_modules/niveau3.js')
      script(src='/app_modules/niveau4.js')


    
