doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    block append scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='bower_components/mojs/build/mo.js')
      script(src='/app_modules/jqueryRotate.js')
      script(src='/app_modules/animations.js')


    
